{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}
{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
<div class="container">
  <div class="tabbable tabs-left row no-gutter">
    <ul class="nav nav-tabs nav-stacked col-sm-4">
      {% for row in rows %}
        {% set linktext = row['content']['#row']._entity.fields.title.value %}
        {% set linkid = "tab-" ~ row['content']['#view'].dom_id ~ "-" ~ row['content']['#row'].index %}
        {% set listclass = row['content']['#row'].index == 0 ? 'active' %}
        <li class="{{listclass}}"><a href="#{{ linkid }}" data-toggle="tab">{{ linktext }}</a></li>
      {% endfor %}
    </ul>
    <div class="tab-content col-sm-8">
      {% for row in rows %}
        {% set linkid = "tab-" ~ row['content']['#view'].dom_id ~ "-" ~ row['content']['#row'].index %}
        {%
          set row_classes = [
            default_row_class ? 'views-row',
            'tab-pane',
            row['content']['#row'].index == 0 ? 'active',
          ]
        %}
        <div id="{{linkid}}" {{ row.attributes.addClass(row_classes) }}>
          {{- row.content -}}
        </div>
      {% endfor %}
    </div>
  </div>
</div>